[Desktop Entry]
Encoding=UTF-8
Name=Link to Preview attachment style.cssstyle.css36 KB
Type=Link
URL=https://mail.google.com/mail/u/1?ui=2&ik=1d68a5902a&attid=0.0&permmsgid=msg-f:1615857912672201556&th=166cae35dc54ab54&view=att&disp=safe
Icon=text-html
